.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.project
/app
*.iml~
*.gradle~
*.bak
*.xml~
*.java~
.gitignore~
/SmartHomeApp/.gradle
/SmartHomeApp/local.properties
/SmartHomeApp/.idea/*.xml
/SmartHomeApp/.idea/copyright/*.xml
/SmartHomeApp/.idea/libraries
/SmartHomeApp/.DS_Store
/SmartHomeApp/build
/SmartHomeApp/captures
/SmartHomeApp/.project
/SmartHomeApp/app/app.iml
SmartHomeApp/.idea/gradle.xml
SmartHomeApp/.idea/vcs.xml
SmartHomeApp/.idea/misc.xml
SmartHomeApp/.idea/.name
